<div class="container text-center">
  <p class="display-4">Seleccione su tipo de usuario</p>
  <div class="row slide-in-left">
    <div class="col">
      <button class="btn btn-light border border-dark" routerLink="alta-paciente">
        <img src="../../../../../assets/images/paciente.png">
        <p><strong>Paciente</strong></p>
      </button>
    </div>
    <div class="col">
      <div class="logo">
        <img class="heartbeat" src="../../../../../assets/images/logo.png">
        <button class="btn btn-dark" routerLink="">Regresar</button>
      </div>
    </div>
    <div class="col">
      <button class="btn btn-light border border-dark" routerLink="alta-especialista">
        <img src="../../../../../assets/images/especialista.png">
        <p><strong>Especialista</strong></p>
      </button>
    </div>
  </div>
</div>
