.btn-size{
  width: 150px;
  height: 150px;
  img{
    width: 80%;
    height: 80%;
  }
}

.listado{
  float:right;
  width: 200px;
  overflow-y: auto;
  height: 400px;
}

button
{
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}
