<div class="container text-center">
  <p class="display-4">¿Qué tipo de usuario quiere agregar?</p>
  <div class="row slide-in-left">
    <div class="col">
      <button class="btn btn-light border border-dark" routerLink="/home/alta-paciente">
        <img src="../../../../../assets/images/paciente.png">
        <p><strong>Paciente</strong></p>
      </button>
    </div>
    <div class="col">
      <button class="btn btn-light border border-dark" routerLink="/home/alta-administrador">
        <img src="../../../../../assets/images/administrador.png">
        <p><strong>Administrador</strong></p>
      </button>
    </div>
    <div class="col">
      <button class="btn btn-light border border-dark" routerLink="/home/alta-especialista">
        <img src="../../../../../assets/images/especialista.png">
        <p><strong>Especialista</strong></p>
      </button>
    </div>
  </div>
</div>
