<div class="container">
  <div class="row">
    <div class="col-1">
      <h3>Desde:</h3>
    </div>
    <div class="col-4">
      <input type="date" class="rounded form-control" [(ngModel)]="desde">
    </div>
    <div class="col-1">
      <h3>Hasta:</h3>
    </div>
    <div class="col-4">
      <input type="date" class="rounded form-control" [(ngModel)]="hasta">
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-dark" (click)="generarReport()" [disabled]="!desde || !hasta">Generar reporte</button>
    </div>
  </div>

  <div *ngIf="mostrar">
    <div relativeLoader [loading]="cargando">
      <div>
        <div class="chart">
          <canvas baseChart id='turnosFinalizadosReport'
                  [data]="pieChartData"
                  [type]="pieChartType"
                  [options]="pieChartOptions"
                  [plugins]="pieChartPlugins">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
