<div class="container">
  <h5>
    Filtrar por {{filtro.especialidad ? filtro.especialidad : filtro.paciente ? filtro.paciente.apellido+', '+filtro.paciente.nombre : ''}}
    <button type="button" class="btn btn-light btn-sm" (click)="limpiarFiltro()" *ngIf="filtro.especialidad || filtro.paciente">X</button>
  </h5>
  <div class="row">
    <div class="col col-6">
      <h6>Especialidad</h6>
      <div class="card-deck my-3">
        <div class="card text-center" *ngFor="let especialidad of misEspecialidades" (click)="setEspecialidad(especialidad)">
          <img #img class="card-img-top" [src]="'../../../../../assets/images/'+especialidad+'.png'" default="../../../../../assets/images/especialidadesImg.png">
          <small class="card-title">{{especialidad}}</small>
        </div>
      </div>
    </div>
    <div class="col col-6">
      <h6>Paciente</h6>
      <div class="card-deck my-3">
        <div class="card text-center" *ngFor="let paciente of misPacientes" (click)="setPaciente(paciente)">
          <img class="card-img-top" [src]="paciente.imgURL">
          <small class="card-title">{{paciente.apellido}}, {{paciente.nombre}}</small>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h6>Filtro adicional:</h6>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-6">
      <input type="text" class="form-control rounded" [(ngModel)]="filtroAdicional">
    </div>
  </div>
  <h6>Turnos</h6>
  <app-listado-turnos [listadoTurnos]="turnosAsignados | filtrarTurnos : filtro : filtroAdicional" *ngIf="filtro.especialista"></app-listado-turnos>
