.card {
  height: 100px;
  width: 180px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.12);
  display: inline-block;
  padding-top: 5px;
}

.card-img-top {
  width: 100%;
  height: 60%;
  object-fit: scale-down;
}

.card-title{
  margin: auto;
}

.selected{
  background-color: rgba(0, 255, 0, 0.12)
}
