<div class="card-deck my-3  fade-in">
  <div class="card" (click)="seleccionar(especialidad)" [ngClass]="checkStatus(especialidad)" *ngFor="let especialidad of listaEspecialidades">
    <img class="card-img-top img-fluid" src="../../../../../assets/images/{{especialidad}}.png" alt={{especialidad}}>
    <div class="card-body">
    </div>
  </div>

  <div class="card" (click)="seleccionar(especialidad)" [ngClass]="checkStatus(especialidad)" *ngFor="let especialidad of listaOtras">
    <img class="card-img-top img-fluid" src="../../../../../assets/images/especialidadesImg.png" alt="{{especialidad}}">
    <div class="card-body">
    </div>
  </div>
</div>
