.container{
  margin-top: 10px;
  margin-bottom: 10px;
  img{
    width: 100%;
    height: auto;
  }
  .logo{
    position: relative;
    img{
      width: 100%;
    }
  }
  button{
    height: 100%;
    width: 90%;
  }
}
