<div class="container text-center slide-in-top">
  <p class="display-4">Bienvenido</p>
  <p class="display-1"><strong>Clínica Online</strong></p>
  <div class="row">
    <div class="col">
      <button class="btn btn-light" routerLink="login">
        <img src="../../../../../assets/images/identificarUsuario.png">
        <p><strong>Ingresar</strong></p>
      </button>
    </div>
    <div class="col">
      <div class="logo">
        <img class="heartbeat" src="../../../../../assets/images/logo.png">
      </div>
    </div>
    <div class="col">
      <button class="btn btn-light" routerLink="/registro">
        <img src="../../../../../assets/images/agregarUsuario.png">
        <p><strong>Registrar</strong></p>
      </button>
    </div>
  </div>
</div>
