<div class="container">
  <p class="display-4 text-center">Detalles del usuario</p>
  <div class="row">
    <div class="col-lg-6">
      <ul>
        <h5>Nombre</h5>
        <input type="text" class="rounded form-control" [(ngModel)]="usuario.nombre" readonly>
      </ul>
    </div>
    <div class="col-lg-6">
      <ul>
        <h5>Apellido</h5>
        <input type="text" class="rounded form-control" [(ngModel)]="usuario.apellido" readonly>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <ul>
        <h5>Edad</h5>
        <input type="number" class="rounded form-control" [(ngModel)]="usuario.edad" readonly>
      </ul>
    </div>
    <div class="col-lg-6">
      <ul>
        <h5>DNI</h5>
        <input type="number" class="rounded form-control" [(ngModel)]="usuario.DNI" readonly>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <ul>
        <h5>Correo</h5>
        <input type="email" class="rounded form-control" [(ngModel)]="usuario.email" readonly>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <ul>
        <h5>Imagen de perfil:</h5>
        <div relativeLoader [loading]="cargandoImg1">
          <div>
            <img [src]="usuario.imgURL" class="img-profile" (load)="isLoadedImg(1)">
          </div>
        </div>
      </ul>
    </div>
    <div class="col-lg-6" *ngIf="usuario.perfil == 'Paciente'">
      <ul>
        <h5>Imagen de perfil adicional:</h5>
        <div relativeLoader [loading]="cargandoImg2">
          <div>
            <img [src]="usuario.imgURL2" class="img-profile" (load)="isLoadedImg(2)">
          </div>
        </div>
      </ul>
    </div>
  </div>

  <div class="datos-paciente" *ngIf="usuario.perfil == 'Paciente'">
    <div class="row">
      <div class="col-lg-12">
        <ul>
          <h5>Obra social:</h5>
          <input type="text" class="rounded form-control" [(ngModel)]="usuario.obraSocial" readonly>
        </ul>
      </div>
    </div>
  </div>

  <div class="datos-especialista" *ngIf="usuario.perfil == 'Especialista'">
    <div class="row">
      <div class="col-lg-6">
        <ul>
          <h5>Especialidades</h5>
          <div class="form-check form-switch">
            <ul>
              <li *ngIf="usuario.traumatologia">
                <label class="form-check-label">Traumatología</label>
              </li>
              <li *ngIf="usuario.otorrinolaringologia">
                <label class="form-check-label">Otorrinolaringología</label>
              </li>
              <li *ngIf="usuario.oftalmologia">
                <label class="form-check-label">Oftalmología</label>
              </li>
              <li *ngIf="usuario.cardiologia">
                <label class="form-check-label">Cardiología</label>
              </li>
              <li *ngIf="usuario.otraEspecialidad.length > 0">
                <label class="form-check-label">{{usuario.otraEspecialidad}}</label>
              </li>
            </ul>
          </div>
        </ul>
      </div>
      <div class="row my-3" *ngIf="perfilLogin === 'Administrador'">
        <div class="col-lg-6" (click)="toggleHabilitadoEspecialista()">
          <button class="btn btn-success btn-size" [hidden]="usuario.habilitado">Habilitar</button>
        </div>
        <div class="col-lg-6" (click)="toggleHabilitadoEspecialista()">
          <button class="btn btn-danger btn-size" [hidden]="!usuario.habilitado">Deshabilitar</button>
        </div>
      </div>
      <div class="my-3" *ngIf="usuario.perfil === 'Especialista'">
        <p class="display-6 text-center">Mis horarios</p>
        <app-mis-horarios [especialista]="usuario"></app-mis-horarios>
      </div>
    </div>
  </div>
</div>
