<div class="container">
  <h5>Filtrar usuarios</h5>
  <div relativeLoader [loading]="cargando">
    <div>
      <div class="scale-in-center">
        <input type="text" name="filtro" class="rounded form-control filtro" [(ngModel)]="perfilFiltro">
        <div class="row">
          <ul class="list-group list-group-horizontal position-relative overflow-auto w-75">
            <li class="list-group-item" *ngFor="let usuario of listaUsuarios | filtroUsuarios : perfilFiltro">
              <img class="img" [src]="usuario.imgURL" [alt]="usuario.email">
              <h6 class="card-title">{{usuario.nombre}} {{usuario.apellido}} </h6>
              <small class="card-subtitle mb-2 text-muted">{{usuario.perfil}}</small><br>
              <button type="button" class="btn btn-primary bottom-0" (click)="seleccionarUsuario(usuario)">Seleccionar</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
