
.btn-image {
  background-size: cover; //or cover
  width: 150px;
  height: 150px;
}

.btn-image:hover{
  background-blend-mode: screen;
  // opacity: 0.8;
}

.card-group{
  width: 100%;
}

.lista{
  margin: auto;
  width: 90%;
  overflow-x: auto;
}

.row{
  margin: auto;
}

.list-group{
  margin: auto;
}

