<div class="container">
  <h5>Filtrar pacientes</h5>
  <div relativeLoader [loading]="cargando">
    <div>
      <div class="scale-in-center">
        <div class="row">
          <ul class="list-group list-group-horizontal position-relative overflow-auto w-75">
            <li class="list-group-item" *ngFor="let paciente of listaPacientes">
              <button class="btn btn-dark bottom-0 rounded-circle btn-image hover-shadow mask rgba-white-light" style="background-image: url({{paciente.imgURL}})" (click)="seleccionarPaciente(paciente)">
                <h6 class="card-title bg-dark rounded">{{paciente.nombre}} {{paciente.apellido}} </h6>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
